
snippet des "describe () => "
describe("$1", () => \{
  $2
\})
endsnippet

snippet it "it () => "
it("$1", () => \{
  $2
\})
endsnippet

snippet ex "jest expect"
expect($1).${2:toEqual}.($3)
endsnippet

