
bar {
  colors {
    background #2A2626
    statusline #d0d0d0
    separator #464646

    focused_workspace  #c37561 #d1a375 #363636
    active_workspace   #424242 #363636 #d0d0d0
    inactive_workspace #424242 #363636 #7985a3
    urgent_workspace   #ffffff #d0d0d0 #363636
  }
  # status_command $HOME/dotfiles/conky-i3bar.sh
  status_command i3status
}
