
exec "setxkbmap gb"
bindsym $mod+F9 exec i3lock 
bindsym $mod+d exec dmenu_run -l 5 -p "`date +%d\ %b\ -\ %R`" -fn 'DejaVu Sans Mono for Powerline-16'

#--scaling fill --image ~/.lock-screen

# laptop
# output eDP-1 pos 0,1440 res 1920x1080
# work widescreen
# output DP-4 pos 0,0 res 3200x1440

# output "*" background ~/desktop-bg fill
