# shared config, compatible with both i3 and sway

# Appearance

# load Xresources for urxvt - requires xorg-xrdb
exec xrdb $HOME/.Xresources 
# font for window titles also used by bar unless specified
font pango:DejaVu Sans Mono 12
# exec feh --bg-fill ~/desktop-bg

# style the window borders and titles
client.focused #f59056 #333333 #ffffff #330000
client.urgent	#ffddaa #333333 #ffffff #330000

# use window key for 
set $mod Mod4

set $term urxvt
set $browser google-chrome-stable 
set $audiocontrol -c alsafloat -e 'alsamixer';


bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart
bindsym $mod+Shift+e exit
# kill focused window
bindsym $mod+Shift+q kill

bindsym $mod+Return exec $term
bindsym $mod+g exec $browser
bindsym $mod+o exec spotify

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume $(pacmd list-sinks |awk '/* index:/{print $3}') +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume $(pacmd list-sinks |awk '/* index:/{print $3}') -5%
bindsym XF86AudioMute exec pactl set-sink-mute $(pacmd list-sinks |awk '/* index:/{print $3}') toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%

bindsym $mod+F1 exec $audiocontrol
bindsym $mod+F11 exec xbacklight -dec 10 -time 100
bindsym $mod+F12 exec xbacklight -inc 10 -time 100
# bindsym $mod+F9 reserved for screen lock / i3/sway specific
# bindsym $mod+Print exec scrot -e 'mv $f /tmp/ && geeqie /tmp/$f'

# Use Mouse+$mod to drag floating windows to their wanted position
# floating_modifier $mod;
#

new_window none

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

bindsym $mod+p split h
bindsym $mod+v split v

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+f fullscreen
bindsym $mod+b border toggle

bindsym $mod+Shift+space floating toggle
# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
# bindsym $mod+a focus parent
# focus the child container
# bindsym $mod+d focus child

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"
