# set $screenL DisplayPort-0
# set $screenR DisplayPort-1

set $ws0 0: spotify
set $ws1 1: trading
set $ws2 2: personal
set $ws3 3: 
set $ws4 4: 
set $ws5 5: browser-work
set $ws6 6: vim
set $ws7 7: 
set $ws8 8:
set $ws9 9:

# workspace "$ws0" output $screenL
# workspace "$ws1" output $screenL
# workspace "$ws2" output $screenL
# workspace "$ws3" output $screenL
# workspace "$ws4" output $screenL
# 
# workspace "$ws5" output $screenR
# workspace "$ws6" output $screenR
# workspace "$ws7" output $screenR
# workspace "$ws8" output $screenR
# workspace "$ws9" output $screenR

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+KP_1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+KP_2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+KP_3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+KP_4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+KP_5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+KP_6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+KP_7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+KP_8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+KP_9 workspace $ws9
bindsym $mod+0 workspace $ws0
bindsym $mod+KP_0 workspace $ws0

# bindsym $mod+Left workspace prev
# bindsym $mod+Right workspace next

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws0
